.header{
    
    width: 80%;
    margin: auto;
    height: 60px;
    top:0;
    display: flex;
    flex-direction: row;
    
}
h1{
    margin: 0;
}

header{background-color: black;}

html {
    scroll-behavior: smooth;
  }
  
body{
    padding: 0;
    margin: 0;
    background-color: #000000;
}

#first-section{
    height: 690px;
    background-color: black;
}
@font-face {
    font-family: 'Gothams';
    src: url('Gotham/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* Gotham Bold */
  @font-face {
    font-family: 'Gotham Bold';
    src: url('Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
  }
  
  /* Gotham Medium */
  @font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham/GothamMedium.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* Gotham Thin */
  @font-face {
    font-family: 'Gotham Thin';
    src: url('Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: normal;
  }
  
.logo{
    padding-left: 10%;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logo img{  
    max-width: 100%;
    height: auto;
}   

nav{
    display: flex;
    width:50%;

    align-items: center;
    justify-content: space-around;
    right: 0;

}

nav a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
    
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    color: #a663cc;
}

@font-face {
    font-family: 'Bauziet';
    src: url('Bauziet/Bauziet Norm Bold.ttf') format('truetype');
    /* Add more formats if needed, like WOFF2 and WOFF */
  }

.heading{
    width: 60%;
    margin: auto;
}
  
.heading h1{
    padding-top: 5%;
    line-height: 1;
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    font-family: "Bauziet";
}

.heading h2{
    color: white;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    line-height: 0;
}

.gradient{
    --tw-gradient-from: #a663cc;
    --tw-gradient-to: #0b0142;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
}

.timings{
    width: 60%;
        margin: auto;
    text-align: center;
    font-family: "Gotham Medium";
    color: whitesmoke;
}
.deets{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.deets label{
    margin-left:3%;
    float: right;
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    font-family: "Gotham Thin";
}

.button{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;   
    margin: auto;
}

.button button{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transitions for hover effects */
    background-color: #758bfd;
    font-family: "Gotham Bold";
    font-size: large;
    cursor: pointer;
    color:1c0221;
}

.button button:hover {
  background-color: #0056b3; /* Change the background color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

#about{
    height: 720px;
    --tw-gradient-from: #0b0142;
    --tw-gradient-to: #a663cc;
    --tw-gradient-stops: #000000, var(--tw-gradient-from);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    display: flex;
}

.img{
    width: 50%;
}

.img img{
    position: relative;
    top: 20%;
    max-width: 100%;
    height: auto;
}

.about{
    height: 100%;
    width: 50%;
    margin: auto;
}

.about h1{
    margin: 0;
    color: whitesmoke;
    font-family: "Bauziet";
    font-size: 75px;
    padding-left: 5%;
    text-decoration: underline;
}

.about p{
    color: white;
    font-family: "Gotham Medium";
    font-size: x-large;
    line-height: 1.3;

}

#themes{
    height: 750px;
    --tw-gradient-from: #0b0142;
    --tw-gradient-to: #a663cc;
    --tw-gradient-stops: var(--tw-gradient-from), #3f02b0;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));   
}

.theme{
    height: 100%;
    position: relative;
}

.title{
    
    padding-top: 2%;
    font-family: "Bauziet";
    font-size: 75px;
    color: white;
    text-decoration: underline;
    padding-left: 5%;
    top: 0;
}

#themes h2{
    font-family: "Bauziet";
    font-size: 50px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
}

#prizes{
    position: relative;
    height: 720px;
    --tw-gradient-from: #3f02b0;
    --tw-gradient-stops: var(--tw-gradient-from), #240046;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.prizes{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    align-items: top;
    height: 65%;
    width: 80%;
    margin: auto;

}

.prizes svg{
    margin: 5%;
}

.card{
    margin-top: 5%;
    border-radius: 10%;
    background-color: #1b1b1b;
    width: 25%;
    color: white;
    height: 70%;
    transition: background-color 0.3s ease, transform 0.4s ease; 
}



.card h2{
    font-family: "Bauziet";
    font-size: 30px;
    color: white;

}

.card-title{
    display: flex;
    vertical-align: center;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom:0;
}

.card:hover{
    transform: scale(1.05); /* Add a slight scale effect on hover */

}

#first_medal{
    fill: #ffd700;
}

#second_medal{
    fill: #c0c0c0;
}


#third_medal{
    fill: #b08d57;
}

.card-content {

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-content h3{
    margin-bottom: 0;
    font-family: "Bauziet";
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 10%;
    
}


.card-content p{
    font-family: "Gotham Thin";
}

#faq{
    height: 800px;
}

.faq{
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
    padding-top: 5%;
}

.qcard{
    
    background-color: #3f02b0;
    width: 40%;
    margin: auto;

    
    border-radius: 20px;

    margin: 2%;
}

.question{
    border-radius: 20px;
    font-family: "Gotham Medium";
    font-size: larger;
    margin-top: 0;
    height: 75px;
    width: 100%;
    background-color: #3f02b0;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
.answer{
    transition: height 2s ease;
    font-family: "Gotham Medium";
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}

.answer p{
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}

#res{
    height: 750px;
}
.res{
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    justify-content: center;
}

.res-card{
    background-color: 240046;
    border-radius: 50px;
    width: 50%;
    margin: auto;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: c;
    color: white;
    font-family: "Gotham Medium";
    font-size: x-large;
}

.res-card a{
    text-decoration: none;
    color: blue;

}

.res-card svg{
    padding-left: 5%;
}

.register{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register p{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
    font-family: 'Gotham Bold';
    font-size: 55px;
}

.register button{
    height: 100px;
    width: 300px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transitions for hover effects */
    background-color: #758bfd;
    font-family: "Gotham Bold";
    font-size: large;
    cursor: pointer;
    border: none;
}

.register button:hover {
  background-color: #0056b3; /* Change the background color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}
footer hr{
    color:white;
}
footer{
    margin-top: 50px;
    height: 200px;
    max-height: 100%;
}

footer h1{
    color: white;
    font-size: 65px;
    font-family: 'Bauziet';
    text-align: center;
}

footer h3{
    color: white;
    font-size: 30px;
    font-family: 'Gotham Medium';
    text-align: center;
}
.logos{
    max-height: 100%;
    margin: auto;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#rules{
    height: 690px;
}

.rules{
    margin-top: 10%;
}

.rules-card{
    background-color: 240046;
    border-radius: 50px;
    width: 70%;
    margin: auto;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: c;
    color: white;
    font-family: "Gotham Medium";
    font-size: x-large;
}

/* Add a media query for screens smaller than 768px (adjust breakpoint as needed) */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Change to a vertical layout on smaller screens */
        height: auto; /* Remove fixed height to allow content to expand */
    }

    .logo {
        padding-left: 0; /* Adjust logo padding for smaller screens */
    }

    nav {
        width: 100%; /* Make the navigation bar take up the full width */
        justify-content: flex-start; /* Adjust alignment of navigation items */
        padding-top: 10px; /* Add spacing above navigation items */
    }

    nav a {
        padding: 5px 10px; /* Adjust padding for navigation items */
    }

    .prizes{
        flex-direction: column;
    }
    .card{
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: large;
    }

}

