.header{
    
    width: 80%;
    margin: auto;
    height: 60px;
    top:0;
    display: flex;
    flex-direction: row;
    
}
h1{
    margin: 0;
    padding-top: 10%;
}

header{background-color: black;}

html {
    scroll-behavior: smooth;
  }
  
body{
    padding: 0;
    margin: 0;
    background-color: #000000;
}

#first-section{
    background-color: black;
}
@font-face {
    font-family: 'Gothams';
    src: url('Gotham/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* Gotham Bold */
  @font-face {
    font-family: 'Gotham Bold';
    src: url('Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
  }
  
  /* Gotham Medium */
  @font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham/GothamMedium.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* Gotham Thin */
  @font-face {
    font-family: 'Gotham Thin';
    src: url('Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: normal;
  }
  
.logo{
    padding-left: 10%;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logo img{  
    max-width: 100%;
    height: auto;
}   

nav{
    display: flex;
    width:50%;

    align-items: center;
    justify-content: center;
    right: 0;
}

nav a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
    
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    color: #a663cc;
}

@font-face {
    font-family: 'Bauziet';
    src: url('Bauziet/Bauziet Norm Bold.ttf') format('truetype');
    /* Add more formats if needed, like WOFF2 and WOFF */
  }

.heading{
    width: 60%;
    margin: auto;
}
  
.heading h1{
    line-height: 1;
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    font-family: "Bauziet";
}

.heading h2{
    color: white;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    line-height: 0;
}

.gradient{
    --tw-gradient-from: #a663cc;
    --tw-gradient-to: #0b0142;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
}

.timings{
    width: 60%;
        margin: auto;
    text-align: center;
    font-family: "Gotham Medium";
    color: whitesmoke;
}
.deets{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.deets label{
    margin-left:3%;
    float: right;
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    font-family: "Gotham Thin";
}

.button{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;   
    margin: auto;
}

.button button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transitions for hover effects */
    background-color: #758bfd;
    font-family: "Gotham Bold";
    font-size: large;
    cursor: pointer;
    color:1c0221;
}

.button button:hover {
  background-color: #0056b3; /* Change the background color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

#about{
    height: 720px;
    --tw-gradient-from: #0b0142;
    --tw-gradient-to: #a663cc;
    --tw-gradient-stops: #000000, var(--tw-gradient-from);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    display: flex;
}

.img{
    width: 50%;
}

.img img{
    position: relative;
    top: 20%;
    max-width: 100%;
    height: auto;
}

.about{
    height: 100%;
    width: 50%;
    margin: auto;
}

.about h1{
    margin: 0;
    color: whitesmoke;
    font-family: "Bauziet";
    font-size: 75px;
    padding-left: 5%;
    text-decoration: underline;
}

.about p{
    color: white;
    font-family: "Gotham Medium";
    font-size: x-large;
    line-height: 1.3;

}

#themes{
    height: 750px;
    --tw-gradient-from: #0b0142;
    --tw-gradient-to: #a663cc;
    --tw-gradient-stops: var(--tw-gradient-from), #3f02b0;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));   
}

.theme{
    height: 100%;
    position: relative;
}

.title{
    font-family: "Bauziet";
    font-size: 75px;
    color: white;
    text-decoration: underline;
    padding-left: 5%;
    margin-top: 0;
}

#themes h2{
    font-family: "Bauziet";
    font-size: 50px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
}

#prizes{
    position: relative;
    height: 720px;
    --tw-gradient-from: #3f02b0;
    --tw-gradient-stops: var(--tw-gradient-from), #240046;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));   
}


.prizes{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    align-items: top;
    height: 80%;
    width: 80%;
    margin: auto;

}

.prizes svg{
    margin: 5%;
}

.card{
    margin-top: 5%;
    border-radius: 10%;
    background-color: #1b1b1b;
    width: 25%;
    color: white;
    height: 50%;
    transition: background-color 0.3s ease, transform 0.4s ease; 
}

.card h2{
    font-family: "Bauziet";
    font-size: 30px;
    color: white;

}

.card-title{
    display: flex;
    vertical-align: center;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom:0;
}

.card:hover{
    transform: scale(1.05); /* Add a slight scale effect on hover */

}

#first_medal{
    fill: #ffd700;
}

#second_medal{
    fill: #c0c0c0;
}


#third_medal{
    fill: #b08d57;
}

.card-content {

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-content h3{
    margin-bottom: 0;
    font-family: "Bauziet";
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 10%;
    
}


.card-content p{
    font-family: "Gotham Thin";
}

#faq{
    height: 750px;
}

.faq{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.qcard{
    background-color: blue;
    width: 40%;
    margin: auto;
}

.answer{

}
